body {
    margin: 0px;
    padding: 0px;
    background-color: #fafafa;
    font-family: Poppins, sans-serif;
    color: rgb(51, 51, 51);
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 70px 0px;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.content {
    text-align: center;
    padding: 30px;
    display: flex;
    align-items: center;
    height: 70vh;
}

#about, #skills, #achievement, #projects, #contact {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
    display: flex;
    flex-direction: column;
}

.name-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.name-container h1 {
    margin: 0;
}

.name-container h2 {
    margin: 10px 0;
}

.content h1 {
    margin-right: 70px;
}

#logo {
    height: 35px;
    width: 60px;
    margin-top: 3px;
}

.nav-links {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    background-color: #fafafa;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.nav-links li {
    display: inline;
    margin-right: 20px;
}

.nav-links a {
    text-decoration: none;
    color: rgb(51, 51, 51);
    transition: color 0.1s;
}

.nav-links a:hover {
    color:blue;
}

#portrait {
    height: 200px;
    width: 200px;
    border-radius: 100%;
}

/* Styles for larger screens (e.g., desktops) */
@media screen and (min-width: 768px) {
    .main {
        margin: 70px 0;
    }
    .content {
        padding: 30px;
    }
    .content h1 {
        margin-right: 70px;
    }
}

/* Styles for medium-sized screens (e.g., tablets) */
@media screen and (max-width: 767px) {
    .main {
        margin: 50px 0;
    }
    .container {
        flex-direction: column;
        align-items: flex-start;
    }
    .content {
        padding: 20px;
    }
    .content h1 {
        margin-right: 0;
        font-size: 16px;
    }
    .nav-links {
        margin-top: 20px;
    }
    .nav-links li {
        display: block;
        margin: 10px 0;
    }
    header {
        position: static;
    }
    #portrait {
        height: 150px;
        width: 150px;
    }
}

/* Styles for small screens (e.g., mobile phones) */
@media screen and (max-width: 480px) {
    .main {
        margin: 20px 0;
    }
    .container {
        padding: 10px;
    }
    .content {
        padding: 10px;
        height: auto;
    }
    .nav-links {
        margin-top: 10px;
    }
    .nav-links li {
        margin: 5px 0;
    }
    #portrait {
        height: 100px;
        width: 100px;
    }
    
}

/* Style the mobile menu button */
#mobile-menu-button {
    display: none; /* Initially hide the button */
    background-color: transparent;
    color: #333; /* Adjust text color to your design */
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 20px;
    margin-right: 20px;
    position: absolute;
    top: 5.5%; /* Center vertically within the navbar */
    transform: translateY(-50%); /* Center vertically within the navbar */
    right: 10px; /* Adjust the right position as needed */
    border-radius: 100%;
}

/* Style the mobile menu button on hover */
#mobile-menu-button:active {
    background-color: #333;
    color: #fff; /* Text color when hovered */
}

/* Add CSS to show the navigation links when the button is active */
#navbar.active .nav-links {
    display: block;
}

/* Media query for small screens */
@media screen and (max-width: 767px) {
    /* Show the mobile menu button on small screens */
    #mobile-menu-button {
        display: block;
    }

    /* Hide the regular navigation links on small screens */
    .nav-links {
        display: none;
    }
}